html,
body {
    background-size: contain;
    position: absolute;
    width: 1024px;
    border-width: 0px;
    height: 768px;
    margin: 0px;
    padding: 0px;
    overflow: hidden
}

@font-face {
    font-family: 'T';
    src: url("T Condensed.eot");
    src: url("T Condensed.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0011-02DC
}

@font-face {
    font-family: 'T2';
    src: url("T BoldCond.eot");
    src: url("T BoldCond.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0011-02DC
}

.body>img {
    width: 1024px;
    height: 768px
}

img {
    position: absolute;
    margin: 0px;
    padding: 0px;
    border: 0px none #000
}

#mainwrap {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1024px;
    height: 768px;
    background-size: contain;
    background: #000
}

#main_wrapper {
    background-size: contain;
    position: absolute;
    width: 1024px;
    height: 768px;
    left: 0;
    top: 0
}

#pages {
    position: absolute;
    width: 1024px;
    height: 701.5px;
    left: 0px;
    top: 0px
}

.page1 {
    background-size: contain;
    position: absolute;
    width: 1024px;
    height: 701.5px;
    left: 0px;
    top: 0px;
    display: block
}

.swiper-container {
    width: 100%;
    height: 100%
}

.swiper-slide {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center
}

div#first {
    background: url(../images/active1_bg.png) no-repeat;
    background-size: 100% auto
}

#second,
#third,
#fourth,
#fifth,
#sixth,
#seventh,
#eighth,
#ninth,
#tenth {
    background: url(../images/active2_bg.png) no-repeat;
    background-size: 100% auto
}

.active_2 .logo,
.active_3 .logo,
.active_4 .logo,
.active_5 .logo,
.active_6 .logo,
.active_7 .logo,
.active_8 .logo,
.active_9 .logo {
    background: url(../images/active2_bg.png) no-repeat;
    background-size: 100% auto;
    transition: all 0.5s ease
}

.slide1_img {
    width: 701px;
    height: 347.5px;
    position: absolute;
    background: url(../images/wrap_img.png) no-repeat;
    background-size: 100% auto;
    top: 50px;
    left: 60px
}

.slide2_img {
    width: 959px;
    height: 472px;
    position: absolute;
    background: url(../images/wrap2_img.png) no-repeat;
    background-size: 100% auto;
    top: 50px;
    left: 60px
}

.slide3_img {
    width: 959px;
    height: 635px;
    position: absolute;
    background: url(../images/wrap3_img.png) no-repeat;
    background-size: 100% auto;
    top: 50px;
    left: 60px
}

.slide4_img {
    width: 805.5px;
    height: 544.5px;
    position: absolute;
    background: url(../images/wrap4_img.png) no-repeat;
    background-size: 100% auto;
    top: 50px;
    left: 60px
}

.slide5_img {
    width: 958.5px;
    height: 549.5px;
    position: absolute;
    background: url(../images/wrap5_img.png) no-repeat;
    background-size: 100% auto;
    top: 50px;
    left: 60px
}

.slide6_img {
    width: 958.5px;
    height: 554.5px;
    position: absolute;
    background: url(../images/wrap6_img.png) no-repeat;
    background-size: 100% auto;
    top: 50px;
    left: 60px
}

.slide7_img {
    width: 846.5px;
    height: 634px;
    position: absolute;
    background: url(../images/wrap7_img.png) no-repeat;
    background-size: 100% auto;
    top: 50px;
    left: 60px
}

.slide8_img {
    width: 841px;
    height: 633.5px;
    position: absolute;
    background: url(../images/wrap8_img.png) no-repeat;
    background-size: 100% auto;
    top: 50px;
    left: 60px
}

.slide9_img {
    width: 774px;
    height: 71.5px;
    position: absolute;
    background: url(../images/wrap9_img.png) no-repeat;
    background-size: 100% auto;
    top: 50px;
    left: 52px;
}

.child9tab_1 {
    width: 927.5px;
    height: 375px;
    position: absolute;
    background: url(../images/child9tab_1.png) no-repeat;
    background-size: 100% auto;
    top: 156px;
    left: 52.5px
}

.child9tab_2 {
    width: 927.5px;
    height: 362.5px;
    position: absolute;
    background: url(../images/child9tab_2.png) no-repeat;
    background-size: 100% auto;
    top: 156px;
    left: 52.5px;
    visibility: hidden
}

.child9tab_1btn {
    width: 65px;
    height: 174.5px;
    position: absolute;
    right: 9px;
    top: 5px
}

.child9tab_2btn {
    width: 65px;
    height: 174.5px;
    position: absolute;
    right: 9px;
    bottom: 22.5px
}

.wrap_logo {
    width: 123px;
    height: 102.5px;
    position: absolute;
    display: none;
    top: 585.5px;
    left: 884.5px;
    z-index: 1
}

.wrap_logo img {
    width: 100%
}

.active_1 .wrap_logo {
    display: block
}

.mainNavBottom {
    position: absolute;
    width: 1024px;
    height: 65px;
    left: 0;
    bottom: 0;
    z-index: 3;
    background: #808285
}

.mainNavBottom ul {
    margin: 0;
    padding: 0;
    width: 773px;
    height: 65px;
    display: inline-block
}

.mainNavBottom ul li {
    margin: 0;
    padding: 0;
    height: 65px;
    width: 89px;
    display: inline-block;
    float: left;
    border-right: 1px solid #fff;
}

.mainNavBottom ul li:nth-child(1) {
    background: url(../images/up_btn.png) no-repeat center;
    background-size: 23.5px;
    width: 80px;
}

.mainNavBottom ul li:nth-child(2) {
    background: url(../images/sitemap_btn.png) no-repeat center;
    background-size: 50.5px
}

.mainNavBottom ul li:nth-child(3) {
    background: url(../images/pi_btn.png) no-repeat center;
    background-size: 10px;
}

.mainNavBottom ul li:nth-child(4) {
    background: url(../images/sumary_btn.png) no-repeat center;
    background-size: 33px
}

.mainNavBottom ul li:nth-child(5) {
    background: url(../images/reference_btn.png) no-repeat center;
    background-size: 42px
}

.mainNavBottom ul li:nth-child(7) {
    background: url(../images/si_btn.png) no-repeat center;
    background-size: 69px;
    width: 119px;
}

.mainNavBottom ul li:nth-child(8) {
    background: url(../images/footnote_btn.png) no-repeat center;
    background-size: 59px;
    width: 121px;
}

.logo {
    width: 161.5px;
    height: 65px;
    float: right;
    text-align: center;
    background: #000;
    display: inline-block
}

.logo img {
    position: static;
    width: 110px;
	    margin-top: 5px;
}

.reference_p {
    width: 1024px;
    height: 705px;
    position: absolute;
    visibility: hidden;
    z-index: 2;
    position: absolute;
    background: rgba(0, 0, 0, 0.55)
}

.reference_wrap {
    width: 776px;
    height: 500px;
    background: #fff;
    left: 125px;
    top: 91px;
    position: absolute
}

.reference_wrap img {
    position: absolute;
    left: 55px;
    top: 32.5px
}

.close_r {
    position: absolute;
    top: 17px;
    right: 17px;
    width: 31px;
    height: 31px;
    background: url(../images/close_b.png) no-repeat;
    background-size: 100% auto
}

.refchild_1 {
    width: 626.5px
}

.refchild_2 {
    width: 626.5px
}

.refchild_3 {
    width: 650px
}

.refchild_4 {
    width: 652.5px
}

.refchild_5 {
    width: 659px
}

.refchild_6 {
    width: 628.5px
}

.refchild_7 {
    width: 625.5px
}

.refchild_8 {
    width: 628.5px
}

.refchild_9 {
    width: 629px
}

.reference_wrap .ref-pop {
    display: none
}

.active_1 .refchild_1 {
    display: block
}

.active_2 .refchild_2 {
    display: block
}

.active_3 .refchild_3 {
    display: block
}

.active_4 .refchild_4 {
    display: block
}

.active_5 .refchild_5 {
    display: block
}

.active_6 .refchild_6 {
    display: block
}

.active_7 .refchild_7 {
    display: block
}

.active_8 .refchild_8 {
    display: block
}

.active_9 .refchild_9 {
    display: block
}




/*Footnote and pi popup*/

.footnote_p {
    width: 1024px;
    height: 705px;
    position: absolute;
    visibility: hidden;
    z-index: 2;
    position: absolute;
    background: #000;
}

.footnote_wrap {
    width: 767px;
    height: 361px;
    left: 55px;
    top: 72px;
    position: absolute;
    background: url(../images/footnote_c.png) no-repeat;
    background-size: 100% auto;
}

.pi_p {
    width: 1024px;
    height: 705px;
    position: absolute;
    visibility: hidden;
    z-index: 2;
    position: absolute;
    background: #000;
}

.pi_wrap {
    width: 916.5px;
    height: 599px;
    left: 55px;
    top: 72px;
    position: absolute;
    background: url(../images/pi_c.png) no-repeat;
    background-size: 100% auto;
}

.footnote_p,
.pi_p {
    display: none
}

#footnote.active, #pi_btn.active{
    background-color: #84bd00;
}

.p_popup .logo{
    background: #000;
}


/*SITE NAV CSS RUNS HERE*/
button.accordion {
    background-color: #84bd00;
    color: #fffdfd;
    cursor: pointer;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 21px;
    transition: 0.4s;
    height: 45px;
    padding: 0 7.5px 0 20px
}

button.accordion.active,
button.accordion:hover {
    background-color: #84bd00
}

button.accordion:after {
    content: '\002B';
    color: #84bd00;
    float: right;
    margin-left: 2.5px;
    background: white;
    width: 26.5px;
    height: 26.5px;
    line-height: 22px;
    text-align: center;
    border-radius: 50%;
}

button.accordion.active:after {
    content: "\2212"
}

div.panel {
    padding: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out
}
/*SITE NAV CSS RUNS HERE*/
.main_tab {
    display: none;
    width: 161.5px;
    height: 703px;
    background: #272728;
    position: absolute;
    right: 0;
    z-index:2;
}

.main_tab ul {
    margin: 65px 0 0 0;
    padding: 0
}

.main_tab ul li {
    width: 117px;
    height: 56px;
    font-size: 19px;
    line-height: 56px;
    color: #fff;
    display: inline-block;
    background-image: url(../images/nav_ar.png);
    background-size: 12px auto;
    background-repeat: no-repeat;
    background-position: 14px 16px;
    background-color: #808285;
    margin-bottom: 13px;
    padding-left: 44px;
    font-family: 'T'
}

.standing_tab {
    visibility: hidden;
    width: 230px;
    height: 703px;
    background: #008bc5;
    position: absolute;
    right: 161px;
        z-index:2;
}

.standing_tab ul {
    margin: 65px 0 0 0;
    padding: 0
}

.standing_tab ul li {
    width: 205px;
    font-size: 19px;
    color: #fff;
    display: inline-block;
    padding: 10px 0 10px 25px;
    cursor: pointer;
    font-family: 'T'
}

.ckd,
.cia {
    visibility: hidden;
    width: 230px;
    height: 703px;
    background: #4f2a81;
    position: absolute;
    right: 161px;
        z-index:2;
}

.ckd ul,
.cia ul {
    margin: 0px 0 0 0;
    padding: 0
}

.ckd ul li,
.cia ul li {
    width: 205px;
    font-size: 19px;
    color: #fff;
    display: inline-block;
    padding: 10px 0 10px 10px;
    cursor: pointer;
    font-family: 'T'
}

.ckd button.accordion,
.cia button.accordion {
    background-color: #4f2a81;
    font-family: 'T';
    color: #fff;
    cursor: pointer;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 19px;
    transition: 0.4s;
    height: 45px;
    padding: 0 7.5px 0 0px
}

.ckd button.accordion.active,
.cia button.accordion.active {
    font-family: 'T2';
}

.ckd button.accordion:after,
.cia button.accordion:after {
    float: left;
    margin-right: 10px;
    font-family: 'T';
    color: #4f2a81;
    font-size: 28px;
}

.cia {
    background-color: #84bd00
}

.cia button.accordion {
    background-color: #84bd00
}

.cia button.accordion::after {
    color: #84bd00
}

.ckd_p ul li,
.cia_p ul li {
    font-size: 15px;
    margin-left: 29px;
    width: 174px;
}

.cia>ul,
.ckd>ul {
    margin-top: 70px
}

#tbutton_1.active {
    background-color: #008bc5;
    font-family: 'T2'
}

#tbutton_2.active {
    background-color: #4f2a81;
    font-family: 'T2'
}

#tbutton_3.active {
    background-color: #84bd00;
    font-family: 'T2'
}
/*# sourceMappingURL=style.css.map */
