/* header css runs here */

#newpage2{
	width: 100%;
	float: left;

	h1{
		color: tomato;
		font-family: arial;
		
		span{
			color: red;
			 	code{
			 		background: yellow;
			 		}
			 }

		}

		}
#qwqwqwqwqwq{
	width: 100%;
	float: left;

	h1{
		color: tomato;
		font-family: arial;
		
		span{
			color: red;
			 	code{
			 		background: yellow;
			 		}
			 }

		}
		}